body {
    margin-left: 10%;
    margin-right: 10%; 
}

p {
    text-align: justify; 
}

strong {
    color: limegreen; 
}

blockquote {
    margin-left: 60px; 
}

/* Estilização de parágrafo único via ID */
#curiosidade {
    border: 3px solid limegreen; 
    padding: 10px; 
}

/* Centralização de imagens */
img {
    width: 300px; 
    border: 8px solid limegreen; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}